.order_item {
    width: 80%;
    margin: 10px auto;
    position: relative;
    box-shadow: 0 0 3px grey;
    background-color: #fef;
    padding: 10px;
}

.goods_image {
    width: 200px;
    height: 200px;
    margin-bottom: 80px;
    display: inline-block;
}

.goods_image img {
    width: 100%;
    height: 100%;
}

.right_box {
    display: inline-block;
    padding-left: 50px;
    position: absolute;
    max-width: 70%;
}

.order_info {
    font-size: 16px;
    margin-bottom: 10px;
}

.order_info span {
    color: red;
    font-weight: bold;
}

.btn_box {
    margin-top: 20px;
}

.btn_box button {
    margin-right: 20px;
    border-radius: 0;
    font-weight: bold;
}